Shared/*
#
Unity/Library
Unity/Logs
Unity/Packages
Unity/ProjectSettings
Unity/Temp
Unity/UserSettings
#
Unity/Assets/TextMesh Pro
#
blender/*.blend
blender/*.blend1
blender/old/*.blend
blender/old/*.blend1